h1,h2,h3,h4,h5,h6,p{
    text-align: center;
}
ul{
    height: max-content;
    width: max-content;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
ul li{
    display: block;
    height: max-content;
    width: max-content;
    padding:10px 0;
}
.main_content ul{
    height: 100vh;
}